<!DOCTYPE html>
<html>
<head>
    <title>Display Album Data</title>
</head>
<body>
    <h1>Database View</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Power</th>
                <th>Voltage</th>
                <th>Current</th>
                <th>Electricity</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{ data.power }}</td>
                <td>{{ data.voltage }}</td>
                <td>{{ data.current }}</td>
                <td>{{ data.electricity }}</td>
                <td>{{ data.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
